
nav{max-width: 1920px; width: 100%; background: var(--color2); padding: 10px;}
nav ul{display: flex; justify-content: center; column-gap: 20px;}
nav ul li{}
nav ul li a{border-radius: 10px; width:100px;background: var(--color2); height: 50px; display: block; line-height: 50px; text-align: center;}
nav ul li a:hover{ width: 200px; background: var(--color1); transition: .4s all ease-in-out;}
#banner{padding: 0 10px; background: var(--color1);}
    .banner_con{min-height: 419px; position: relative;}
    .banner_info{color: #fff; font-weight: 700; max-width: 450px; width: 100%; position: absolute; top:50%; transform: translateY(-50%);}
    .banner_info h2{}
    .banner_info h2 span{display: block;}