    /* FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --main-font:"Roboto", sans-serif;
    --secondary-font: "Nunito", sans-serif;

    --color1:#d08a49;
    --color2:#6084b8;
    --color3:#0c1936;
}

body{font-family: var(--secondary-font);font-size: 18px; line-height: 30px; color: var(--p-color); position: relative; max-width: 1920px; margin: 0 auto !important;}

body,html{overflow:hidden;padding: 0; margin: 0; clear: both; }
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; font-family: var(--secondary-font); }
p,h3,h4,h5{font-size: 16px;}
h1,h2{font-size: 60px;}
ul{list-style-type: none;}
a{font-size: 16px; text-decoration: none; color: #fff; font-style: var(--secondary-font); transition: .4s all ease-in-out;}
.wrapper { width: 100%; max-width: 1377px; margin: 0 auto; position: relative; }
.button_style{width: 100px; height: 25px; border-radius: 20px;}
.clear_sides{clear: both;}

